<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()" aria-label="Menü">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title" [routerLink]="auth.isLoggedIn() ? '/' : '/login'">{{ title }}</span>
  <span class="spacer"></span>
  @if (auth.easterEggCount() > 0) {
    <mat-icon [matBadge]="auth.easterEggCount()" matBadgeColor="accent" routerLink="/eastereggs" style="cursor:pointer">egg</mat-icon>
  }
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="over" [fixedInViewport]="true" fixedTopGap="64">
    <mat-nav-list>
      @for (item of menuItems(); track item.link) {
        <a mat-list-item [routerLink]="item.link" (click)="sidenav.close()">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.name }}</span>
        </a>
      }
      @if (auth.isLoggedIn()) {
        <a mat-list-item (click)="logout(); sidenav.close()">
          <mat-icon matListItemIcon>logout</mat-icon>
          <span matListItemTitle>Abmelden</span>
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="main-content">
    <router-outlet />
  </mat-sidenav-content>
</mat-sidenav-container>
